<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen práctico</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container m-auto col-sm-4 pt-4" id="app">
        <h1>Encriptación</h1>
        <hr>
        <label for="">Entrada [a-z]</label>
        <input type="text" placeholder="Entrada" class="form-control" v-model="input">
        <br>
        <div class="w-100 d-flex">
            <button class="col-sm btn mr-1 btn-primary" v-on:click="enc">Encriptar</button>
            <button class="col-sm btn mr-1 btn-primary" v-on:click="des">Desencriptar</button>
        </div>
        <br>
        <label for="">Salida</label>
        <p class="bg-light p-3 rounded">{{output}}</p>
    </div>
</body>

</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            input: 'Flipped Classroom.',
            output: '',
            clave: [[1, 2, 1], [0, -1, 3], [2, 1, 0]],
            inversa: [[-3 / 11, 1 / 11, 7 / 11], [6 / 11, -2 / 11, -3 / 11], [2 / 11, 3 / 11, -1 / 11]],
            conv: [' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'ñ', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '.']
        },
        methods: {
            enc: function () {
                //Separar la cadena de entrada
                spd = this.input.split('')

                //Convertir letras en numeros
                inp = []
                spd.forEach(element => {
                    str = element.toLowerCase()
                    ind = this.conv.indexOf(str)
                    inp.push(ind)
                });

                //Dividir de 3 en 3
                arr = [[]];
                i = 0
                j = 0
                inp.forEach(element => {
                    arr[i][j] = element
                    j++
                    if (j >= 3) {
                        j = 0
                        i++
                        arr.push([])
                    }
                });


                //Multiplicar matriz
                res = []
                arr.forEach(element => {
                    val1 = (element[0] * this.clave[0][0] + element[1] * this.clave[1][0] + element[2] * this.clave[2][0])
                    val2 = (element[0] * this.clave[0][1] + element[1] * this.clave[1][1] + element[2] * this.clave[2][1])
                    val3 = (element[0] * this.clave[0][2] + element[1] * this.clave[1][2] + element[2] * this.clave[2][2])
                    res.push(val1, val2, val3)
                })

                //Mostrar resultado
                this.output = ''
                res.forEach(element => {
                    if (!Number.isNaN(element)) {
                        this.output = this.output + ' ' + element
                    }
                });
            },
            des: function () {
                //Separar la cadena de entrada
                spd = this.input.split(' ')

                //Dividir de 3 en 3
                arr = [[]];
                i = 0
                j = 0
                spd.forEach(element => {
                    arr[i][j] = element
                    j++
                    if (j >= 3) {
                        j = 0
                        i++
                        arr.push([])
                    }
                });

                //Multiplicar matriz
                res = []
                arr.forEach(element => {
                    val1 = Math.round(element[0] * this.inversa[0][0] + element[1] * this.inversa[1][0] + element[2] * this.inversa[2][0])
                    val2 = Math.round(element[0] * this.inversa[0][1] + element[1] * this.inversa[1][1] + element[2] * this.inversa[2][1])
                    val3 = Math.round(element[0] * this.inversa[0][2] + element[1] * this.inversa[1][2] + element[2] * this.inversa[2][2])
                    res.push(val1, val2, val3)
                })

                //Mostrar resultado
                this.output = ''
                res.forEach(element => {
                    if (!Number.isNaN(element)) {
                        this.output = this.output + this.conv[element]
                    }
                });
            }
        }
    })

</script>